<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        #errorMessages {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <main class="main__container login">
        <h2 class="login__title">Login</h2>
        <form id="loginForm" class="login__form">
            <div>
                <label for="username" clas>Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <button type="submit" class="login__submit">Login</button>
            </div>
        </form>

        <div id="errorMessages"></div>
    </main>
    <script src="../js/login.js"></script>

</body>

</html>